.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-content {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center; /* Center vertically */
  max-width: 1200px;
  margin: auto auto; /* Center horizontally by setting left and right margin to auto */
  padding: 0 20px; /* Add padding to maintain some spacing from the edges */
}
.App-link {
  color: #61dafb;
}

.general {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/*Form*/

.matrix-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.matrix-form div {
  margin-bottom: 10px;
}

.matrix-form input {
  width: 30px; /* Adjust the width as needed */
  padding: 5px;
  margin-right: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.matrix-form button {
  width: 100px;
  padding: 10px;
  margin-top: 10px;
}

.form-group {
  margin-bottom: 20px; /* Add some spacing between form groups */
}

/*graph*/

.graph{
  width : 100px;
  height : 100px;
}




/*==========================
Sidebar navigation
========================*/
.navbar {
  position: relative;
}
button {
  cursor: pointer;
  background: transparent;;
  border: none;
  font-size: 20px;
  color: white;
}
.navbar .toggle {
  position: fixed;
  left: 30px;
  top: 40px;
  cursor: pointer;
  background: transparent;;
  border: none;
  margin-left: auto;
  
}
.menu-nav {
  list-style: none;
  position: absolute;
  background: #fff;
  color: black;
  left: 0;
  width: 0;
  overflow: hidden;
  max-width: 200px;
  z-index: 9;
  font-size: 18px;
  box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
  transform: translateX(-100px);
  transition: transform ease-in-out 0.2s;
  /* transition: width ease 0.2s; */
}
.menu-nav.show-menu {
  width: 100%;
  transform: translateX(0px);
}
.menu-nav li a, .menu-nav li span {
  display: block;
  padding: 2rem;
}

.button {
  color: black;
  font-size: 18px;
  
}

.center-container {
  position: relative;
  height: 100vh;
}

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical-line {
  height: 100%;
  width: 1px; /* Adjust the width of the vertical line as needed */
  background-color: #000; /* Change the color of the line */
  margin: 0 10px; /* Adjust the margin for spacing */
}