:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
html, body {
  height: 100%;
}


body {
  margin: 0;
  display: flex;
  /* place-items: center;
  min-width: 320px;
  min-height: 50vh;
  vertical-align: middle; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  background-color: lightpink; /* Light pink background */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.general {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.general-no-space {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.matrix-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.matrix-form div {
  margin-bottom: 10px;
}

.matrix-form input {
  width: 40px; /* Adjust the width as needed */
  padding: 5px;
  margin-right: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.matrix-form button {
  width: 100px;
  padding: 10px;
  margin-top: 10px;
}

.content {
  position: relative;
  padding-left: 10px;
}

.content .line {
  width: 1px;
  background-color: black;
  position:absolute;
  top: 0;
  bottom:0;
  left: 0; /* Position the line on the right side of the container */
  
}

.form-actions {
  display : flex;
  justify-content: center;
  gap : 10px;
}


/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'arial';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '⯇';
}
[dir='rtl'] .slick-prev:before
{
    content: '⯈';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '⯈';
}
[dir='rtl'] .slick-next:before
{
    content: '⯇';
}

.dropdown {

  width: 40px;
  padding: 2px; /* Padding around the dropdown text */
  border: none;
  border-bottom: 1px solid #000; /* Line at the bottom */
  background: transparent; /* No background rectangle */
  font-size: 16px;
  color: #333;
  cursor: pointer;
}