@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --math-color-dark: #6f185c;
  --math-color: #df2ab8;
  --math-color-light: #faeaf5;
  --crochet-color : rgb(189, 149, 160);
  --crochet-color-dark : rgb(85, 47, 57);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */
html, body {
  height: 100%;
}


body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  background-color: lightpink; /* Light pink background */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
.general {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.general-no-space {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.matrix-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.matrix-form div {
  margin-bottom: 10px;
}

.matrix-form input {
  width: 40px; /* Adjust the width as needed */
  padding: 5px;
  margin-right: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.matrix-form button {
  width: 100px;
  padding: 10px;
  margin-top: 10px;
}

.content {
  position: relative;
  padding-left: 10px;
}

.content .line {
  width: 1px;
  background-color: black;
  position:absolute;
  top: 0;
  bottom:0;
  left: 0; /* Position the line on the right side of the container */
  
}

.form-actions {
  display : flex;
  justify-content: center;
  gap : 10px;
}
/*button*/
.ant-btn-primary {
    color: #fff;
    background: #fff;
    box-shadow: 0 2px 0 rgba(5, 5, 5, 0.1);
}


/*Masonry for crochet*/
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.masonry-item-wrapper {
  margin-bottom: 30px; /* Space between items vertically */
}


/*Carousel*/
.ant-carousel .slick-prev,.ant-carousel .slick-next {

    color: #756161;
    opacity: 0.8;
}

/*Theme colors*/
.math-title {
  font-weight :600;
  font-size: 24px;
  color : var(--math-color)
  
}

/*Menu colors*/
.ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title, .ant-menu-light>.ant-menu .ant-menu-submenu-selected >.ant-menu-submenu-title {
    color: var(--math-color)
}
.ant-menu-light .ant-menu-item-selected, .ant-menu-light>.ant-menu .ant-menu-item-selected {
    color: var(--math-color);
    background-color: var(--math-color-light);
}
:where(.css-dev-only-do-not-override-1okl62o).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color : var(--math-color);
  border-color : var(--math-color);
}